.about-info {
    background-image: url("src/assets/Holywood.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1495px;
    height: 725px;
    opacity: 0.9;
    font-weight: 630;
}

.text{
    color:rgb(155, 106, 61);
    font-weight: bold;
    font-size: xx-large;
}

.about{
    color:rgb(155, 106, 61);
    font-weight: bold !important;
    font-size: xx-large;
}

.emoticonos{
    font-size: xx-large;
}